.headercs {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: gold;
    background-color: lightcoral;
    height: 150px;}
.center  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kak     {
    
    background-color: rgb(235, 235, 148);
    height: 700px;
    width: 200px;}

.contance {
    font-family: 'Lobster', cursive;
    font-size:20px;
    color: crimson;
    background-color: aquamarine;
    height: 55px;
    width: 1504px;}
   
    
}