.header {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: gold;
    background-color: lightcoral;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 120px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
 
.newspaper {
  column-count: 4;
  column-gap: 20px;
  column-rule-style: solid;
  column-rule-color: #ff0000;
}
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    background: #ddd;
    margin-top: 20px;
  }
